.navbar-default {
    background-color: #185f7d;
    border-color: #185f7d;
    }
    
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.02);
 }
.navbar-default .navbar-nav>li>a {
    color: #D8D8D8;
  }
.navbar-default .navbar-nav>li>a:hover {
    color: #FFFFFF;
  }
.navbar-default .navbar-brand {
    color: #D8D8D8;
}