.navbar-default {
    background-color: #f7f7f9;
    border-color: #f7f7f9;
    }
    
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #f7f7f9;
    background-color: #59be7b;
 }
.navbar-default .navbar-nav>li>a {
    color: #777;
  }
.navbar-default .navbar-nav>li>a:hover {
    color: rgba(0,0,0,0.6);
  }
.navbar-default .navbar-brand {
    color: #777;
}
.form-control { width: 60%;
}
.btn-default {
    color: #333;
    background-color: #f5f5f5;
    border-color: #59be7b;

    }
    
.btn-default.zhuxiao {
   
    margin-top: 9px;
    }
    
.btn-default.zhuce {
   
    background-color: #59be7b;
    color: #fff;
    width: 20%;
    }
    
    