{% extends 'news/base.html' %}

{% load staticfiles %}

{% block block_title %}用户注册{% endblock %}


{% block block_body %}

    <!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MY NEWS</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">热点</a></li>
            <li><a href="#about">社会</a></li>
            <li><a href="#contact">娱乐</a></li>
            
            
          </ul>
   {% if user.is_authenticated %}
        <div class="pull-right">
            <a href=#>欢迎您：{{user.username}}</a>  
            <a class="btn danger small" href="{% url 'mynews.views.logout_view' %}">注销</a>
        </div>
        {% else %}
            <li><a href="{% url 'mynews.views.login_view' %}">登录</a></li>
            <li><a href="{% url 'mynews.views.register_view' %}">注册</a></li>
          </ul>
        </div>
        {% endif %}<!--/.nav-collapse -->
      </div>
    </nav>

 

      <!-- Main component for a primary marketing message or call to action -->
      
<div class="container">

      <div class="register">
<h2>恭喜您，{{user.username}}注册成功！您可以访问首页或个人中心进行浏览。
</h2>
</div>
  </div>



 <!--!
  <div class="col-md-3">
  <p>今日最热</p>
   {% if news_list %}
  {% for news in news_list %}
  <p class="text-left"> <ol><li>{{news.title}}</li></ol></p>
    {% endfor %}
 {% endif %}
  </div></div>
</div>
  <ol><li><a href="#">{{news.title}}</a></li></ol>
</div> <!-- /container -->
 <footer class="blog-footer">
      <p>bulid by<a href="#"> william</a> contact <a href="#">27462967@qq.com</a>.</p>
      <p>
        <a href="#">返回顶部</a>
      </p>
    </footer>
{% endblock %}



